/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: #902510;
    padding: 0 5px;
    background: #f1f1f1;
    transform: translateX(-50%);
}

/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 2% 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 5px 0;
    background: rgba(255, 255, 255, 0.8);
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo img{
    height: 49px; /* Defina a altura desejada */
    width: auto; /* Use auto para manter a proporção */
    margin-left: -29px; /* Se realmente necessário */
    max-width: 150px; /* Defina um limite de largura */
    object-fit: contain; /* Mantém a proporção */
}
.navbar .logo a span{
    color: #902510;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span{
    color: rgba(255, 255, 255, 0.8);
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #902510;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: #902510;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #902510;
    left: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}


/* home section styling */
.home{
    display: flex;
    background: linear-gradient(rgba(218, 217, 217, 0.9), rgba(145, 145, 145, 0.9)), url('/assets/img/home/background_home.webp') no-repeat center center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-attachment: scroll; /* Substitua 'fixed' por 'scroll' */
    font-family: 'Ubuntu', sans-serif;
}
/* Adicione uma regra específica para o Safari, se necessário */
@supports (-webkit-touch-callout: none) {
    .home {
      background-attachment: scroll; /* O Safari tem problemas com 'fixed' */
    }
}
.home .max-width{
  width: 100%;
  display: flex;
}
.home .max-width .row{
  margin-right: 0;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: #902510;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: #902510;
    color: #fff;
    font-size: 15px;
    padding: 8px 25px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 25px;
    border: 2px solid #902510;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: #902510;
    background: none;
}

/* about section styling */
.about{
    background: #f1f1f1;
}
.about .about-content .left{
    width: 62%;
}
.about .about-content .left img{
    height: 90%;
    width: 90%;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: 1px 2px 5px #902510;
    transition: all 0.3s ease;
}
.about .about-content .left img:hover{
    transform: translateY(-4px);
    box-shadow: 5px 5px 10px #902510;
}
.about .about-content .right{
    width: 38%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: #902510;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: #902510;
    color: #fff;
    font-size: 15px;
    padding: 8px 25px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 25px;
    border: 2px solid #902510;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: #902510;
    background: none;
}

/* services section styling */
.services, .teams{
    padding: 100px 0px;
    color: #fff;
    background: #111;
}
.services .title::before,
.teams .title::before{
    background: #fff;
}
.services .serv-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 25px;
    padding: 50px 25px;
    box-shadow: 1px 2px 5px #902510;
    cursor: pointer;
    transition: all 0.3s ease;
}
.services .serv-content .card:hover{
    transform: translateY(-4px);
    box-shadow: 5px 5px 10px #902510;
    cursor: pointer;
}
.services .serv-content .card .box{
    transition: all 0.3s ease;
}
.services .serv-content .card i{
    font-size: 50px;
    color: #902510;
    transition: color 0.3s ease;
}
.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

/* skills section styling */
.skills{
    background: #f1f1f1;
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
    background: #902510;
    color: #fff;
    font-size: 15px;
    padding: 8px 25px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 25px;
    border: 2px solid #902510;
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: #902510;
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #902510;
}
.skills-content .right .html::before{
    width: 90%;
}
.skills-content .right .css::before{
    width: 69%;
}
.skills-content .right .js::before{
    width: 60%;
}
.skills-content .right .php::before{
    width: 70%;
}
.skills-content .right .mysql::before{
    width: 85%;
}

/* teams section styling */
.teams .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover{
    background: #902510;
}
.teams .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover .box{
    transform: scale(1.05);
}
.teams .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.teams .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #902510;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover img{
    border-color: #fff;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid #902510!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: #902510!important;
}

/*Gallery Section*/
.gallery {
    background: #f1f1f1;
    position: relative;
    overflow: hidden;
    height: 80vb;
    padding: 100px 0px;
    margin-bottom: 50px;
}

.gallery-slider .gallery-item img {
    width: 100%; /* Garante que a imagem ocupe toda a largura */
    height: 380px; /* Altura uniforme para todas as imagens */
    object-fit: cover; /* Faz o ajuste automático */
    object-position: center; /* Centraliza a parte visível da imagem */
    border-radius: 10px; 
    transition: transform 0.3s ease; /* Transição suave para hover */
}

.gallery-slider .gallery-item:hover img {
    transform: scale(1.05); /* Zoom suave no hover */
}

.gallery-slider .gallery-item img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.gallery-slider .gallery-item:hover img {
    transform: scale(1.05);
}

.owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 10;
}

.owl-nav button {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.5);
    color: #000;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.owl-nav button:hover {
    background-color: rgba(255, 255, 255, 1);
    border-color: #000;
}

.owl-nav button.owl-prev {
    margin-left: -20px;
}

.owl-nav button.owl-next {
    margin-right: -20px;
}

.modal {
    display: none; /* Inicialmente oculto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fundo com opacidade */
}


.modal-content {
    position: relative;
    margin: auto; /* Garante que o modal se alinhe centralizado na tela */
    padding: 20px;
    width: 80%;
    max-width: 800px;
    text-align: center; /* Centraliza o conteúdo */
}

.modal-content img,
.modal-content video {
    display: block; /* Garante que a mídia ocupe toda a linha */
    margin: 0 auto; /* Centraliza horizontalmente */
    max-width: 100%; /* Limita a largura da imagem ao tamanho da tela */
    max-height: 80vh; /* Limita a altura da imagem para não ultrapassar a tela */
    border-radius: 8px; /* Opcional */
}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

iframe{
    display: flex;
    align-items: center;
}


/* footer section styling */
footer {
    background: black;
    color: white;
    padding: 40px 0;
    font-size: 14px;
}
  
footer p{
  color: white;
}
footer a{
  color: white;
}

.footer-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}

.social-media, .newsletter {
  flex: 1;
  text-align: left;
}

.social-media h3, .newsletter h3 {
  margin-bottom: 20px;
  font-size: 18px;
}

.social-media a {
  color: white;
  margin: 0 10px;
  font-size: 24px;
  transition: color 0.3s;
}

.social-media a:hover {
  color: var(--secondary-color);
}

.newsletter form {
  display: flex;
  justify-content: left;
  align-items: left;
}

  
.why-us-section {
    background: #f1f1f1;
    padding: 100px 0;
    font-family: 'Poppins', sans-serif;
}
.why-us-section .title::before{
    background: black;
}

.why-us-section .title {
    font-size: 36px;
    color: black;
    text-align: center;
    margin-bottom: 40px;
    position: relative;
}

.reasons-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.reason-card {
    background: #fff;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 1px 2px 5px #902510;
    text-align: center;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.reason-card:hover {
    transform: translateY(-4px);
    box-shadow: 5px 5px 10px #902510;
}

.reason-card i {
    font-size: 50px;
    color: #902510;
    margin-bottom: 20px;
    animation: iconBounce 1s ease infinite alternate;
}

.reason-card h3 {
    font-size: 22px;
    font-weight: 600;
    color: #333;
    margin-bottom: 15px;
}

.reason-card p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
}

.footer-main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}

.footer-section {
  flex: 2;
  margin-right: 40px;
}

.footer-section p {
  margin-bottom: 20px;
}

.footer-links {
  flex: 1;
}

.footer-links h4 {
  margin-bottom: 20px;
  font-size: 18px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 10px;
}

.footer-links ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links ul li a:hover {
  color: var(--primary-color);
}

.footer-bottom {
  text-align: center;
  width: 100%;
  border-top: 1px solid #333;
  padding-top: 20px;
}
  


/* responsive media query start */
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 80%;
        width: 80%;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}

@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .column{
        width: 100%;
        margin-bottom: 35px;
    }
}

@media(max-width: 768px){
    .footer-top{
      display: none;
    }
    .footer-links{
      flex-direction: column;
    }
    .footer-section{
        display:none
    }
    .social-media h3{
      font-size: 12px;
    }
    .newsletter{
      visibility: hidden;
    }
    .footer-links h4{
      font-size: 12px;
    }
    .footer-links ul li a{
      font-size: 12px;
    }

    .modalidades .modalidades-content {
        flex-direction: column;
        align-items: center;
    }
    .modalidades .card {
        width: 100%;
        margin-bottom: 20px;
    }
    .about .about-content .left img{
        height: 100%;
        width: 100%;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: grid;
        justify-content: space-between;
        padding:  0% 0% 10% 0% ;
        
    }
    .about .about-content .right{
        flex: 100%;
    }
}

@media (max-width: 690px) {
    .navbar .logo img {
      width: auto;
      height: 40px; /* Defina um tamanho menor para dispositivos móveis */
    }
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card{
        width: 100%;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .scroll-up-btn{
        left: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
    .reasons-container {
        display: flexbox;
        grid-template-columns: repeat(1, 1fr);
        gap: 10;
        max-width: 1000px;
        margin: 0 auto;
    }/*Gallery Section*/
    .gallery {
        background: #f1f1f1;
        position: relative;
        overflow: hidden;
        height: 80vb;
        padding: 5% 0px;
        margin-bottom: 5%;
    }
}
@media (max-width: 350px) {
    .home .home-content .text-2{
        font-size: 40px;
    }
    .home .home-content .text-3{
        font-size: 20px;
    }
    .home .home-content .a{
        display: inline-block;
        
        max-width: 10%;
        font-size: 10px;
        padding: 20px 0 0;
        margin: 10px 30px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 15px;
    }

    
    
}
